body{
    margin: 0;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
}



input{
    padding: 10px;
    width: 100%;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button{
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}
#delete-btn{
    background-color: white;
    color: #5f9341;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 5px;
}

a{
    color: #5f9341;
}